.container {
    position: relative;
    height: 100vh;
    width: 100vw; /* Utiliser la largeur complète de la fenêtre */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url('images/bg4.jpg') no-repeat center center / cover;
    padding: 70px 20px 0 20px; /* Ajouter un padding-top pour compenser la hauteur du header */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrer verticalement */
    align-items: center; /* Centrer horizontalement */
    overflow: hidden; /* Empêcher le débordement */
}

.site-container {
    position: absolute;
    bottom: 10%;
    color: #fff;
    width: 100%;
    text-align: center; /* Centrer le texte */
    padding: 0 20px; /* Assurer un padding horizontal cohérent */
}

.site-container p {
    font-size: 50px;
    font-weight: bold;
}

.site-container h1 {
    font-size: 120px;
    line-height: 120px;
    color: transparent;
    -webkit-text-stroke: 1px white;
    background: url('images/pattern.png');
    -webkit-background-clip: text;
    background-clip: text;
    background-position: 0 0;
    animation: animate 20s linear 2s infinite alternate;
}

@keyframes animate {
    100% {
        background-position: -500px 0;
    }
}

.site-container h3 {
    font-size: 40px;
    font-weight: 500;
}

.site-container .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.row a {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    margin-right: 20px; /* Réduire l'écart entre les liens */
    font-size: 18px;
    transition: 0.3s;
}

.row a:hover {
    background-color: #fff;
    color: #000;
}

.row a span {
    font-size: 15px;
    font-weight: bold;
    line-height: 2;
    margin-left: 10px;
}

.row span {
    font-size: 18px;
}

.footer {
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer p {
    margin: 0;
    color: #ffffff;
    font-size: 14px;
}
