body {
    background-image: url('images/bg_client.jpg');
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Tw Cen MT', sans-serif;
}

.container {
    position: relative;
    height: 15vh;
    width: 100%;
    background-size: 100% auto;
    background-position: center;
    padding: 0 8%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
}

nav .logo {
    width: 120px;
    cursor: pointer;
}

nav .cart {
    width: 30px;
    cursor: pointer;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    padding-right: 40px;
    text-align: right;
    list-style-type: none;
}

ul li {
    margin-right: 10px;
}

ul li a {
    position: relative;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    transform: translateX(-50%) translateY(-5px);
    height: 3px;
    background: #ffa400;
    transition: 0.3s;
}

ul li a:hover::after {
    width: 38%;
}

.welcome-banner {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
}
