*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Tw Cen MT', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-style: sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.container {
    position: relative;
    min-height: 100vh; /* Utiliser la hauteur minimale complète de la fenêtre */
    width: 100vw; /* Utiliser la largeur complète de la fenêtre */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url('images/backgroundcaracal.jpg') no-repeat center center;
    background-size: cover; /* Couvrir toute la fenêtre */
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrer verticalement */
    align-items: center; /* Centrer horizontalement */
    margin: 0;
    max-width: 100% !important;
  }

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Ajout de l'espace vertical entre les éléments */
    width: 100%;
}

.footer {
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer p {
    margin: 0;
    color: #ffffff;
    font-size: 14px;
}

.product-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1400px;
    width: 100%;
    margin: 20px;
    color: #fff;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.image-container img {
    width: 450px;
    height: 270px;
    border-radius: 10px;
}

.product-details {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: justify;
}

.product-description {
    flex-grow: 1;
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: justify;
}

.btn {
    align-self: flex-end;
}
