body {
    background-image: url('images/francazal.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-direction: column;
}

.container {
    position: relative;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrer verticalement */
    align-items: center; /* Centrer horizontalement */
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between; /* Répartir les éléments */
    align-items: center;
    width: 100%;
    height: 60px; /* Hauteur fixe pour le header */
    background-color: rgba(0, 0, 0, 0.5); /* Pour plus de visibilité */
    position: fixed; /* Fixer le header en haut de la page */
    top: 0;
    z-index: 1000; /* S'assurer que le header est au-dessus des autres éléments */
    padding: 0 20px; /* Assurer un padding horizontal cohérent */
    left: 0; /* S'assurer que le header commence à 0 sur la gauche */
}

nav .logo {
    max-height: 50px; /* Assurer que le logo ne dépasse pas du header */
    cursor: pointer;
}

nav .cart {
    max-height: 30px; /* Taille du panier ajustée pour le header */
    cursor: pointer;
}

nav ul {
    display: contents;
    justify-content: center; /* Centrer les éléments de la liste */
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex: 1; /* Permettre à la liste de prendre l'espace disponible */
}

ul li {
    margin: 0 20px; /* Ajuster l'écart entre les éléments */
}

ul li a {
    position: relative;
    padding: 10px 15px; /* Ajuster le padding des liens */
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

ul li a:hover::after {
    width: 38%;
}

.form-container {
    width: 50%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color:#fff;
}

img {
    display: block;
    margin: 0 auto;
}

#loginFormBtn {
    margin-top: 2vh;
    background-color: rgba(0, 0, 0, 0.3);
    border-color: black;
    border-radius: 1px;
}

.msgPasInscrit {
    margin-left: 1vh;
    font-size: 1.5vh;
    color: #fff;
}

.footer {
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer p {
    margin: 0;
    color: #ffffff;
    font-size: 14px;
}

#emailHelp {
    color: #fff !important;
}