body {
    background-image: url('bghelicologin.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-direction: column;
}

.container {
    position: relative;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding: 0 8%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Tw Cen MT', sans-serif;
}





nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
}

nav .logo {
    width: 120px;
    cursor: pointer;
}

nav .cart {
    width: 40px;
    cursor: pointer;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    padding-right: 40px;
    text-align: right;
    list-style-type: none;
}

ul li {
    margin-right: 10px;
}

ul li a {
    position: relative;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    transform: translateX(-50%) translateY(-5px);
    height: 3px;
    background: #ffa400;
    transition: 0.3s;
}

ul li a:hover::after {
    width: 38%;
}

.content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.footer {
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer p {
    margin: 0;
    color: #ffffff;
    font-size: 14px;
}


.form-container {
    width: 50%;
    border: 1px solid grey;
    padding: 20px;
    background-color: rgba(255,255,255,0.65);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
img {
    display: block;
    margin: 0 auto;
}

#loginFormBtn {
    margin-top: 2vh;
}

.msgPasInscrit {
    margin-left: 1vh;
    font-size: 1.5vh;
    color: dimgrey;
}