*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Tw Cen MT', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    height: 100vh;
    width: 100vw; /* Utiliser la largeur complète de la fenêtre */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url('images/piste.jpeg') no-repeat center center / cover;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrer verticalement */
    align-items: center; /* Centrer horizontalement */
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Ajout de l'espace vertical entre les éléments */
    width: 100%;
}

.address {
    color: rgb(255, 255, 255);
    padding: 20px;
    margin-bottom: 20px;
    max-width: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center; /* Centrer le texte */
}

.address h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.address p {
    font-size: 16px;
    margin-bottom: 10px;
}

.map-container {
    display: flex;
    justify-content: center; /* Centrer horizontalement */
}

.map-container iframe {
    width: 400px;
    height: 300px;
    border: 0;
}

.footer {
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer p {
    margin: 0;
    color: #ffffff;
    font-size: 14px;
}
